/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, .firstpage-wrapper, .background-wrapper, .bckgr {
    height: 100%;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}
.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.firstPageContainer {
    max-width: 800px;
    width: 100%;
}
.h-s {
    line-height: 2;
}
.signinh1 {
    font-size: 35px;
    font-family: 'SourceSansPro-bold';
     color:#43425D;
     letter-spacing: 10px;
}
.signinh2 {
    font-size: 18px;
    font-family: 'SourceSansPro-regular';
    color:#707070;
}
.inputs {
    margin-top: 55px;
    height: 115px;
    max-width: 400px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#username, #password {
   width: 400px;
   border-bottom: solid #E9E9F0;
   padding: 15px;
   margin-top: 10px;
   -webkit-transition-property: all;
   -o-transition-property: all;
   transition-property: all;
   -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
           transition-delay: 0.2s;
}
#username:hover, #password:hover {
    border-bottom: solid #4D4F5C;; 
 }
 #username:focus, #password:focus{
    border-bottom:solid#3B86FF;
 }
::-webkit-input-placeholder {
    color:#707070;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
    -webkit-transition-property: all;
    transition-property: all;
   -webkit-transition-delay: 0.2s;
           transition-delay: 0.2s;
}
::-moz-placeholder {
    color:#707070;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
    -moz-transition-property: all;
    transition-property: all;
   transition-delay: 0.2s;
}
:-ms-input-placeholder {
    color:#707070;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
    -ms-transition-property: all;
    transition-property: all;
   transition-delay: 0.2s;
}
::-ms-input-placeholder {
    color:#707070;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
    -ms-transition-property: all;
    transition-property: all;
   transition-delay: 0.2s;
}
::placeholder {
    color:#707070;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
   -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
           transition-delay: 0.2s;
}

#username:hover::-webkit-input-placeholder, #password:hover::-webkit-input-placeholder {
    color: #4D4F5C;
  }

#username:hover::-moz-placeholder, #password:hover::-moz-placeholder {
    color: #4D4F5C;
  }

#username:hover:-ms-input-placeholder, #password:hover:-ms-input-placeholder {
    color: #4D4F5C;
  }

#username:hover::-ms-input-placeholder, #password:hover::-ms-input-placeholder {
    color: #4D4F5C;
  }

#username:hover::placeholder, #password:hover::placeholder {
    color: #4D4F5C;
  }
.remember-forgot {
    max-width: 400px;
    width: 100%;
    margin-top: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#checkbox {
    margin-right: 10px;

}
.remember, .forgotpassword {
    color: #43425D;
    font-size: 15px;
    font-family: 'SourceSansPro-regular';
}
.signs {
    margin-top: 65px;
    max-width: 400px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#loginbtn, #signupbtn {
    max-width: 185px;
    width: 100%;
    height: 50px;
    background-color: #43425D;
    border-radius: 4px;
    border:solid 1px #4D4F5C;
    color: #fff;
    font-size: 18px;
    font-family: 'SourceSansPro-regular';
}
#signupbtn {
    background-color: #fff;
    border-color: #43425D;
    color: #4D4F5C;
}
input[type=checkbox] {
    width: 18px;
    height: 18px;
}
.signin-wrapper {
    position: relative;
}
.footer-wrapper {
    position: absolute;
    bottom: 20px;
}
.policy {
    font-size: 11px;
    font-family: 'SourceSansPro-regular';
    color: #43425D;
}
input[type=checkbox] {
    position: relative;
      cursor: pointer;
      border-color: ;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 1px solid #707070;
    border-radius: 4px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

#loginbtn:active {
    background-color:#2F2E50;
    

}
#signupbtn:active{
    border-color: #2F2E50;
    color: #2F2E50;
    

}
#passwordlabel, #usernamelabel{
    margin-top: 10px;
    color: #707070;
    font-size: 12px;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
   -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
           transition-delay: 0.2s;
   -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
           transition-duration: 0.2s;
}
#passwordlabel:hover, #usernamelabel:hover {
    color: #4D4F5C;
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
  }
  .valid {
      color: #4D4F5C;

  }
  .line1, .line2, .line3 {
    display: none;
 }

 @media screen and (max-width:1024px) {
     #password, #username {
         width: 250px;
     }
     #signupbtn {
         margin-left: 10px;
         
     }
 }


 @media screen and (max-width: 768px) {

	.background-wrapper {
        display: none;
    }
    body {
        background-color:#d2d2e1;
     }
     .line1 {
      display: inline;
       width: 4px;
       height: 400px;
      background-color: #43425D;
       position: absolute;
       left: 10px;
       -webkit-animation-name: line1;
               animation-name: line1;
       -webkit-animation-duration: 3s;
               animation-duration: 3s;
       -webkit-animation-delay: 0s;
               animation-delay: 0s;
       -webkit-animation-iteration-count: infinite;
               animation-iteration-count: infinite;
       -webkit-animation-timing-function: linear;
               animation-timing-function: linear;
       
   
   }
   
   @-webkit-keyframes line1 {
       0% {
           bottom:0px;
       }
       100% {
           bottom: 770px;
   
       }
   }
   
   @keyframes line1 {
       0% {
           bottom:0px;
       }
       100% {
           bottom: 770px;
   
       }
   }
   .line2 {
      display: inline;
       width: 4px;
       height: 400px;
      background-color:#43425D;
       position: absolute;
       left: 20px;
       -webkit-animation-name: line2;
               animation-name: line2;
       -webkit-animation-duration: 6s;
               animation-duration: 6s;
       -webkit-animation-delay: 0s;
               animation-delay: 0s;
       -webkit-animation-iteration-count: infinite;
               animation-iteration-count: infinite;
       -webkit-animation-timing-function: linear;
               animation-timing-function: linear;
       
   
   }
   
   @-webkit-keyframes line2 {
       0% {
           bottom:800px;
       }
       100% {
           bottom: -200px;
   
       }
   }
   
   @keyframes line2 {
       0% {
           bottom:800px;
       }
       100% {
           bottom: -200px;
   
       }
   }
   .line3 {
    display: inline;
     width: 4px;
     height: 400px;
    background-color:#43425D;
     position: absolute;
     left: 30px;
     -webkit-animation-name: line3;
             animation-name: line3;
     -webkit-animation-duration: 3s;
             animation-duration: 3s;
     -webkit-animation-delay: 0s;
             animation-delay: 0s;
     -webkit-animation-iteration-count: infinite;
             animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
             animation-timing-function: linear;
     
 
 }
 
 @-webkit-keyframes line3 {
     0% {
         bottom:770px;
     }
     100% {
         bottom: -200px;
 
     }
 }
 
 @keyframes line3 {
     0% {
         bottom:770px;
     }
     100% {
         bottom: -200px;
 
     }
 }

}

@media screen and (max-width: 480px) {
    .line3 {
        display: none;
    }

    .signinh1 {
        font-size: 20px;
        letter-spacing: normal;
    }
    .signinh2 {
        font-size: 12px;
    }
    
}